$gap: 1rem;
$gap-xs: calc($gap * 0.5);
$gap-s: calc($gap * 0.75);
$gap-m: calc($gap * 1.25);
$gap-l: calc($gap * 1.5);
$gap-xl: calc($gap * 1.75);
$gap-xxl: calc($gap * 2);

$padding: 1rem;
$padding-xs: calc($padding * 0.5);
$padding-s: calc($padding * 0.75);
$padding-m: calc($padding * 1.25);
$padding-l: calc($padding * 1.5);
$padding-xxl: calc($padding * 2);
$padding-xxxl: calc($padding * 2.5);

$font-size: 1rem;
$font-size-s: calc($font-size * 0.87);

$main-color: #fa6d9c;
$main-black: #191919;
$main-white: #ffffff;
$main-grey: #dadada;
$main-grey-light: #e7e7e7;
$main-grey-dark: rgb(70, 70, 70);

$transition: 0.5s;
$border-radius: 0.25rem;
