$main-color: #6558fb;
$main-color-dark: #4738ea;
// $main-color: #30d5c8;
$red-color: #ff0505;
$light-grey: rgba(0, 0, 0, 0.61);

$transition: 0.3s;

$padding-section: 60px;
$padding-title-section: 30px;

$border-radius: 8px;
