$main-color: #e6eded;
$main-color-dark: #b9cdce;
$secondary-color: #6558fb;
$secondary-color-dark: #4738ea;
$red-color: #ff0505;
$white-color: white;
$black-color: #333333;
$light-grey: rgba(0, 0, 0, 0.61);
$transition: 0.5s;
$transition-s: 0.4s;
$padding-section: 60px;
$padding-title-section: 30px;
$border-radius: 6px;

$font-size-s: 14px;

$border-grey: 0.8px solid #dee2e6;
$shadow-item: 0px 0px 63px -4px rgba(34, 60, 80, 0.2);

$padding: 1rem;
$padding-s: 0.8rem;
