$black-color: #333333;
$grey-color: #555a65;
$main-color: #ffd707;
$main-color-hover: #fffb00;
$main-grey: #f1f1f1;

$gap-xs: 0.5rem;
$gap-s: 0.8rem;
$gap: 1rem;
$gap-m: 1.5rem;
$gap-l: 2rem;

$radius: 6px;
