.banner {
  position: relative;
  overflow: hidden;

  &__elem {
    width: 100vw;
    height: 100%;
    background-image: url(../img/banners/1.jpg);
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 660px) {
      background-position-x: 3%;
      background-size: 207% auto;
    }
  }

  &__info {
    width: 27vw;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-l;
    color: $main-white;

    @media screen and (max-width: 1700px) {
      width: 30vw;
    }
    @media screen and (max-width: 1370px) {
      width: 27vw;
    }

    @media screen and (max-width: 1024px) {
      width: 30vw;
      height: 70vh;
      gap: $gap;
    }

    @media screen and (max-width: 768px) {
      width: 39vw;
      height: 60vh;
    }

    @media screen and (max-width: 660px) {
      width: 100%;
      height: 50vh;
      text-align: center;
      align-items: center;
    }
  }

  &__title {
    font-size: 55px;
    font-weight: 600;
    line-height: 3.5rem;

    @media screen and (max-width: 1700px) {
      font-size: 50px;
    }

    @media screen and (max-width: 1440px) {
      font-size: 40px;
      line-height: 3rem;
    }
    @media screen and (max-width: 1370px) {
      font-size: 37px;
      line-height: 2.5rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 27px;
      line-height: 2rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;

    @media screen and (max-width: 1370px) {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }

  &__btns {
    display: flex;
    gap: $gap;
    padding-top: 30px;

    @media screen and (max-width: 1370px) {
      padding-top: 1rem;
    }

    @media screen and (max-width: 990px) {
      flex-direction: column;
    }
    @media screen and (max-width: 660px) {
      flex-direction: row;
    }
  }
}

.slider {
  position: relative;
  display: grid;
  grid-template-columns: 100vw 100vw 100vw;
  height: 650px;

  @media screen and (max-width: 1024px) {
    height: 70vh;
  }
  @media screen and (max-width: 768px) {
    height: 60vh;
  }

  @media screen and (max-width: 660px) {
    height: 50vh;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border: 0;
  background-color: transparent;
}

.prev {
  left: 1vw;
}

.next {
  right: 1vw;
}
