.breadcrumbs {
  margin: 16px 0;

  &__elem {
    font-size: 14px;
    color: $light-grey;

    a {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.61);
      text-decoration: none;
      transition: 0.4s;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
