.cart {
  &__wrap {
  }

  &__elem {
    position: relative;
    padding: 1.5rem 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__elem-wrap {
    display: grid;
    grid-template-columns: 70% 1fr;
    gap: 1rem;

    @media screen and (max-width: 1399px) {
      grid-template-columns: 65% 1fr;
    }
    // @media screen and (max-width: 991px) {
    //   grid-template-columns: 50% 1fr;
    // }
    @media screen and (max-width: 577px) {
      grid-template-columns: auto auto;
      gap: 0.5rem;
    }
  }

  &__elem-img {
    img {
      width: 100%;
    }
  }

  &__elem-info {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  &__elem-manage {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 375px) {
      grid-template-columns: 1fr;
      justify-items: end;
    }
  }

  &__elem-price {
    font-size: 18px;
    font-weight: 600;

    @media screen and (max-width: 577px) {
      font-size: 16px;
    }
  }

  &__elem-del {
    // padding: 0 0 10px 0;
    color: grey;
    font-size: 14px;
  }
}

.result {
  margin: 1.5rem 0 0 0;
  padding: 14px 16px;
  background-color: #e6eded;
  border-radius: 6px;
  border: 0.8px solid #dee2e6;

  &__title {
    font-size: 20px;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
  }
}
