.catalog {
  &__title {
    padding-bottom: 16px;
  }
}

.categories {
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__elem {
    border-bottom: 1px solid #eaedef;
  }
  &__link {
    display: block;
    width: 100%;
    padding: 16px 16px 16px 30px;
    font-size: 14px;
    cursor: pointer;
    transition: $transition-s;

    &:hover {
      background-color: $main-color;
      color: $black-color;
    }

    @media screen and (max-width: 767px) {
      padding: 10px 10px 10px 16px;
    }
  }
}

.catalog .accordion-header {
  padding: 0;
}

.catalog .accordion-button {
  background-color: $main-color;
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }

  @media screen and (max-width: 767px) {
    padding: 10px;
  }
}
.catalog .accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.catalog .accordion-button:not(.collapsed) {
  color: $black-color;
  background-color: $main-color;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

.catalog .accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}

.catalog .accordion-body {
  padding: 0;
}

.catalog .categories .accordion-body {
  background-color: white;
}

.filter {
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__wrap {
    padding: 16px;
  }

  &__input {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.show-filter,
.show-categories,
.reset-filter {
  font-size: 14px;
  background-color: $main-color;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 0.8px solid rgb(222, 226, 230);
  cursor: pointer;
  transition: $transition-s;
}

.reset-filter:hover {
  background-color: $main-color;
}

.active-filter {
  background-color: #dee2e6;
}

.no-overflow {
  display: block;
}

.form-range::-webkit-slider-thumb {
  background-color: $secondary-color;
}

.form-check-input:checked {
  background-color: $secondary-color;
  border-color: $secondary-color;
}
