.contact {
  position: relative;

  &__content {
    padding: 100px 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
  }

  &__offline {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
    padding: 2rem 0 0 0;
  }

  &__title {
    font-weight: 600;
  }
}

.kvadrat {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 30px;
  background-color: $main-color;
}
