.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: $padding;
  }

  &__map {
    width: 100%;
  }
}
