.footer {
  padding: 60px 0;
  background-color: rgba(185, 205, 206, 0.36);

  @media screen and (max-width: 575px) {
    padding: 60px 60px;
  }

  .header__menu-social {
    padding: 0;
  }

  &__contact-adress {
    max-width: 440px;
  }

  &__contact-elem {
    svg {
      color: $black-color;
      transition: $transition-s;
    }
    &:hover svg {
      color: $secondary-color;
    }
  }

  &__adress {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5rem;

    svg {
      color: $black-color;
      transition: $transition-s;
      width: 26px;
    }
    &:hover svg {
      color: $secondary-color;
    }
  }

  &__menu {
    a {
      transition: $transition-s;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
