.header {
  position: relative;
  z-index: 1000;
  background-color: $white-color;

  &__menu-info {
    padding: 0;
    list-style: none;

    a {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.61);
      text-decoration: none;
      transition: 0.4s;

      &:hover {
        color: #6558fb;
      }
    }

    // &-link {
    //   font-size: $font-size-s;
    //   color: $light-grey;
    // }
  }

  &__card-icon {
    color: $black-color;
    transition: $transition-s;
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
  }

  &__catalog-elem {
    position: relative;
    padding: $padding-s 10px;
    text-align: center;
    background-color: $main-color;
    border-top: $border-grey;
    border-bottom: $border-grey;
    cursor: pointer;

    &:hover {
      background-color: $white-color;
      color: $black-color;
      -webkit-box-shadow: $shadow-item;
      -moz-box-shadow: $shadow-item;
      box-shadow: $shadow-item;
    }

    &:first-child {
      border-left: $border-grey;
      border-radius: $border-radius 0 0 $border-radius;

      &:hover {
        border-radius: $border-radius 0 0 0px;
      }
    }
    &:last-child {
      border-right: $border-grey;
      border-radius: 0 $border-radius $border-radius 0;

      &:hover {
        border-radius: 0 $border-radius 0px 0;
      }
    }
  }

  &__catalog-subelem {
    display: none;
    min-width: 185px;
    top: 50px;
    left: 0px;
    position: absolute;
    border-radius: 0 0 $border-radius $border-radius;
    background-color: $white-color;
    text-align: left;

    -webkit-box-shadow: $shadow-item;
    -moz-box-shadow: $shadow-item;
    box-shadow: $shadow-item;

    &_last {
      right: 0;
      left: auto;
    }

    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    li {
      padding: $padding;
      border-radius: 0 0 $border-radius $border-radius;
      &:hover {
        background-color: $main-color;
      }
    }
  }

  &_link {
    transition: $transition-s;

    &:hover {
      color: $secondary-color;
    }
  }
}

.header__card:hover > svg {
  color: $secondary-color;
}

.header__catalog-elem:hover > .header__catalog-subelem {
  display: block;
}
