.header {
  position: relative;
  z-index: 1000;
  background-color: white;

  &__menu-info {
    padding: 0;
    list-style: none;

    &-link {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.61);
    }
  }
  &__menu-social {
    list-style: none;

    &-link svg {
      transition: 0.4s;
      color: #ababab;
      &:hover {
        color: #6558fb;
      }
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #6558fb;
  }

  &__menu-catalog {
    margin: 0;
    background-color: rgb(207, 207, 207);

    &-elem {
      padding: 10px;
      text-align: center;
      background-color: rgba(185, 205, 206, 0.36);
      color: black;
      // border: 1px solid $main-color;
      transition: 0.4s;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
        // border: 1px solid $main-color;
      }
    }
  }

  &_link {
    transition: 0.4s;

    &:hover {
      color: #6558fb;
    }
  }

  &__burger-menu {
    position: absolute;
    z-index: 999;
    top: -1000px;
    left: 0;
    width: 100%;
    background: white;
    height: 100vh;
    background-color: #f0f0f0;
    background-color: #e6eded;
    transition: 0.6s;

    &_active {
      top: 75px;
    }
  }

  &__burger-menu-elem {
    padding: 15px 0;
    font-size: 18px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: white;
      bottom: 0;
    }
  }

  &__burger-menu-info {
    font-size: 18px;
  }
}

.test {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.your-class {
  position: relative;
}

.banner-prev,
.banner-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: #6558fb;
  }
}

.banner-prev {
  left: 20px;
}

.banner-next {
  right: 20px;
}
