body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
}

.container-overflow {
  width: 100%;
  overflow: hidden;
}

h2 {
  font-size: 30px;
  padding-bottom: $padding-title-section;
}

.btn {
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: white;

  &:hover {
    background-color: $main-color-dark;
    color: white;
  }

  &_about {
    margin: 20px 0 0 0;
  }
}
