.main-form {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #333333;

  &_color {
    background-color: $main-color-dark;
  }

  &__img {
    border-radius: 8px;
  }

  &__wrap {
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 8px;
  }

  &__wrap_color {
    background-color: $white-color;
    padding: 20px;
    border: $border-grey;
    border-radius: 8px;
  }
}
