body {
  overflow-x: hidden;
  color: $black-color;
}

a {
  text-decoration: none;
  color: black;
  transition: $transition-s;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container-overflow {
  width: 100%;
  overflow: hidden;
}

h2 {
  font-size: 30px;
  padding-bottom: 30px;
}

.overflow {
  overflow: hidden;
}

.link_grey {
  color: $light-grey;
  transition: $transition-s;

  &:hover {
    color: $secondary-color;
  }
}
