.main-form {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #333333;

  &__img {
    border-radius: 8px;
  }

  &__wrap {
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 8px;
  }
}
