.order {
}

.order-goods {
  padding: 14px 16px;
  background-color: #e6eded;
  border-radius: 6px;
  border: 0.8px solid #dee2e6;

  &__elem {
    position: relative;
    padding: 1rem 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__edit {
    font-size: 14px;
    color: grey;
  }

  &__wrap {
  }

  &__img {
    width: 100%;
  }

  &__elem-price {
    font-weight: 600;
  }

  &__itog,
  &__general-price {
    font-size: 20px;
    font-weight: 600;
  }
}
