.preferences {
  background-color: $main-grey;
  padding: 100px 0;

  @media screen and (max-width: 991px) {
    padding: 70px 0;
  }

  h2 {
    margin: 0 auto;
    text-align: center;
  }

  p {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
  }
}
