.products {
  &__content {
    margin: 0 0 50px 0;
    padding: 100px 0 100px;

    @media screen and (max-width: 1440px) {
      padding: 100px 0 50px;
    }
    @media screen and (max-width: 768px) {
      padding: 70px 0 30px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-s;
    padding-bottom: 3rem;
    text-align: center;

    @media screen and (max-width: 660px) {
      align-items: flex-start;
      text-align: left;

      .subtitle_h2 {
        font-size: 1.2rem;
        line-height: 26px;
      }
    }
  }
}
