.product {
  background-color: $main-grey;
  padding: 100px 0;

  @media screen and (max-width: 991px) {
    padding: 70px 0;
  }

  &__title {
    padding-top: 16px;
    font-size: 20px;
    font-weight: 600;
  }

  &__img {
    overflow: hidden;
    img {
      width: 100%;
      height: 290px;
      border-radius: 6px;
      object-fit: cover;
      transition: 0.4s;
      cursor: pointer;

      @media screen and (max-width: 991px) {
        height: 220px;
      }

      @media screen and (max-width: 991px) {
        height: 220px;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__property {
    color: $grey-color;
    font-size: 14px;
  }

  &__text {
    padding-top: 1rem;

    color: $grey-color;
  }
}
