.social {
  list-style: none;
  //удал
  &__link svg {
    transition: $transition-s;
    color: #ababab;
    &:hover {
      color: $secondary-color;
    }
  }
  &__img {
    width: 25px;
    height: 25px;
  }
}
