.title {
  &_h2 {
    font-size: 1.2rem;
    color: $main-color;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 1px;
      margin-right: 10px;
      background-color: $main-color;
    }
  }

  &_h3 {
    font-size: $font-size;
    font-weight: 700;
    color: $main-grey-dark;
  }

  &_footer {
    font-size: 1.2rem;
    color: $main-color;
  }

  &__page-product {
    font-size: 2rem;

    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
    }
  }

  &_main {
    color: $main-color;
    font-weight: 600;
  }
}

.subtitle {
  &_h2 {
    font-weight: 600;
    font-size: 2rem;
    color: $main-grey-dark;
    line-height: 35px;

    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}
